<!DOCTYPE html>
<html>
  <head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<!-- The above 3 meta tags *must* come first in the head-->
<title>OWASP Summit 2017</title>
<meta name="description" content="OWASP Summit 2017"/>
<meta name="keywords" content="OWASP Summit 2017"/>
<meta name="author" content="owaspsummit.org"/>
<!-- this icon shows in browser toolbar-->
<link rel="icon" type="image/x-icon" href="/website/assets/img/owasp-grey.ico"/>
<!-- Css-->
<link rel="stylesheet" href="/website/assets/libs/bootstrap/css/bootstrap.min.css" media="all"/>
<link id="blocks-style" rel="stylesheet" href="/website/assets/css/blocks.css" media="all"/>
<!-- Scripts-->
<script src="/website/assets/libs/jquery-1.12.4.min.js"></script>
<script src="/website/assets/libs/countdown.js"></script>
<script src="/website/assets/libs/custom.script.js"></script>
<script src="/website/assets/libs/bootstrap/js/bootstrap.min.js"></script></head>
  <body>
<!-- HEADER-->
<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav id="menu-offscroll" class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/website"><img src="/website/assets/img/blocks/logo-small.png" alt="owasp summit small logo" /></a>
          </div>
          <div class="collapse navbar-collapse blocks-menu">
            <!--.navbar-collapse.blocks-menu-->
            <!--center-->
            <ul class="nav navbar-nav">
              <li><a href="/pages/schedule">Schedule</a></li>
              <li><a href="/website/working-sessions.html">Tracks</a></li>
              <li><a href="/website/participants.html">Participants</a></li>
              <li><a href="/website/venue.html">Venue</a></li>
              <li><a href="/pages/faq">Faq</a></li>
              <li><a href="/website/blog.html">Blog</a></li>
              <li><a href="/website/sponsors.html">Sponsors</a></li>
              <li><a href="/website/about.html">About</a></li>
              <li><a href="/website/summit-organization.html">Admin</a></li>
              <button class="btn btn-primary"><a href="/website/buy-ticket.html">Buy Ticket</a></button>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
</body>
</html>